// ABSTRACTS
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/mixins/buttons";
@import "abstracts/functions/colors";


// BASE
@import "base/normalize";
@import "base/reset";
@import "base/typography";

// COMPONENTS 

// LAYOUTS
@import "layout/grid";
//@import "layout/header";
@import "layout/navigation";

// PAGES
@import "pages/home";
@import "pages/grid-html";

// THEMES
//@import "themes/dark-theme";   

// VENDOR
//@import "vendor/node_modules/animate.scss/animate.scss";



