* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
}

#next {
    right: 0;
}

.mySlides {
    min-height: 100px;
    margin-top: 50px;
    display: none;
    border: 1px solid black;
}

.text {
    display: none;
}