.container {
  width: 100%;
  max-width: $container-width * 1px;
  padding-left: $base-padding;
  padding-right: $base-padding;
  margin: 0 auto;
  // border: 1px solid coral;

  &-fluid {
    width: 100%;
    padding-left: $base-padding;
    padding-right: $base-padding;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-left: $grid-gutter-size * -1;
  margin-right: $grid-gutter-size * -1;
  // border: 1px solid teal;

  & > * {
    padding: $grid-gutter-size;
    // border: 1px solid yellow;
  } 
}

