@use "sass:map";

.alert {
    max-width: 350px;
    min-width: max-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

    &.info {
        background-color: map.get($theme-colors, "info");
        
        &.border {
            border: 5px solid map.get($theme-colors, "info");
            background-color: white;
        }
    }

    &.warning {
        background-color: map.get($theme-colors, "warning");

        &.border {
            border: 5px solid map.get($theme-colors, "warning");
            background-color: white;
        }
    }

    &.danger {
        background-color: map.get($theme-colors, "danger");
        
        &.border {
            border: 5px solid map.get($theme-colors, "danger");
            background-color: white;
        }
    }

    &.success {
        background-color: map.get($theme-colors, "success");

        &.border {
            border: 5px solid map.get($theme-colors, "success");
            background-color: white;
        }
    }
}

.description {
    display: flex;
    max-width: fit-content;
    text-align: center;
}

.button-div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}