@use "sass:map";

.alert {
    max-width: 350px;
    min-width: max-content;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: $base-border-radius;
    box-shadow: 0 4px 8px rgba($color: map.get($map: $theme-colors, $key: base), $alpha: .10);
    background: map.get($map: $theme-colors, $key: light);

    h5 {
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 30px;
        padding: 2px;
        border-radius: $base-border-radius $base-border-radius 0 0;
    }

    .close-btn {
        display: flex;
        align-items: flex-start;
        padding-right: 5px;
        font-size: 25px;
    }

    .description {
        display: flex;
        max-width: fit-content;
        text-align: center;
        padding: 10px;
    }

    .button-div {
        display: none;
    }

    // ADD STYLE
    ////////////////////////////////////////////////

    &.con-dis {
        .button-div {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }

        .close-btn {
            display: none;
        }
    }

    &.info {
        &.colored {
            background-color: rgba(map.get($theme-colors, info), .1);
        }

        .header {background-color: map.get($theme-colors, "info");}
        
        &.border {
            border: 5px solid map.get($theme-colors, "info");
            background-color: white;
        }
    }

    &.warning {
        &.colored {
            background-color: rgba(map.get($theme-colors, warning), .1);
        }
        .header {background-color: map.get($theme-colors, "warning");}
        
        &.border {
            border: 5px solid map.get($theme-colors, "warning");
            background-color: white;
        }
    }


    &.danger {
        &.colored {
            background-color: rgba(map.get($theme-colors, danger), .1);
        }

        .header {background-color: map.get($theme-colors, "danger");}
        
        &.border {
            border: 5px solid map.get($theme-colors, "danger");
            background-color: white;
        }
    }


    &.success {
        &.colored {
            background-color: rgba(map.get($theme-colors, success), .1);
        }

        .header {background-color: map.get($theme-colors, "success");}
        
        &.border {
            border: 5px solid map.get($theme-colors, "success");
            background-color: white;
        }
    }

}