.card {
    //width: 25rem;
    border: 1px solid black;
    border-radius: $base-border-radius;
    overflow: hidden;
    min-width: 100%;
    box-shadow: $base-box-shadow;
    background-color: white;
    // filter: drop-shadow(0px 4px 4px rgba(28, 28, 28, 0.15));

      .card-img-container {
        height: 12rem;
        // width: 100%;
         overflow: hidden;
        position: relative;
        border-radius: $base-border-radius;
        margin: 0.7rem;
        // margin-bottom: 1rem;


        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            min-width: 100%;
            object-fit: cover;
            
        }
    }

    .card-body {
        padding: $base-padding;
        display: flex;
        flex-direction: column;

        .card-subtitle {
            margin-bottom: 0.5rem;
            font-weight: 300;
        }

        .card-text {
            margin-bottom: 2rem;
        }
    }

    .card-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }
}