

.slideshow-container {
    max-width: 500px;
    max-height: 250px;
    position: relative;
    margin: auto;
    margin-top: 200px;
}

.mySlides {
    width: 100%;
    height: 100%;
    display: none;  
}

img {
    width: 500px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

#prev, #next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
}

#next {
    right: 0;
}

// .text {
//     display: none;
// }

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 2rem;
}