.card {
    //width: 25rem;
    border: 1px solid black;
    border-radius: $base-border-radius;
    overflow: hidden;
    min-width: 100%;

    .card-header {
        width: 100%;
        padding: $base-padding * 0.5 $base-padding;
        font-weight: 300;
        border-bottom: 1px solid black;
    }

    .card-img-container {
        height: 18rem;
        width: 100%;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            min-width: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        padding: $base-padding;
        display: flex;
        flex-direction: column;

        .card-subtitle {
            margin-bottom: 0.5rem;
            font-weight: 300;
        }

        .card-text {
            margin-bottom: 1rem;
        }

        .card-links {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    .card-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .card-footer {
        width: 100%;
        padding: $base-padding * 0.5 $base-padding;
        font-weight: 300;
        border-top: 1px solid black;
    }
}