

#slideshow-container {
    height: 50vh;
    overflow: hidden;
    position: relative;
    margin: auto;
    
    &.border-radius {
    border-radius: $base-border-radius * 2;
}

&.circle-pag {
    li {
        height: .5rem;
        width: .5rem;
        background-color: rgba($color: white, $alpha: 0.4);
        margin: 0 .25rem;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;

        &.active {
            background-color: rgba($color: white, $alpha: 1.0);
        }

        &:hover {
            background-color: rgba($color: white, $alpha: 1.0);
        }
    }
}

&.pag-left {
    #carousel-pag {
    left: 3rem;
    transform: none;
}
}

&.pag-right {
    #carousel-pag {
        right: 3rem;
        transform: none;
    }
}

&.no-pag {
    #carousel-pag {
        display: none;
    }
}
}

.mySlides {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;  
}

img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

#prev, #next {
    position: absolute;
    transform: translate(-50%);
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: rgba($color: white, $alpha: 0.5);
    transition: all 0.5s ease-in-out;

    &:hover {
        color: rgba($color: white, $alpha: 1.0);
    }
}

#prev {
    left: 2rem;
}

#next {
    right: 2rem;
}

#carousel-pag {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    -webkit-padding-start: 0;

    li {
        height: .2rem;
        width: 2.5rem;
        background-color: rgba($color: white, $alpha: 0.4);
        margin: 0 .25rem;
        border-radius: 2px;
        transition: all 0.5s ease-in-out;

        &.active {
            background-color: rgba($color: white, $alpha: 1.0);
        }

        &:hover {
            background-color: rgba($color: white, $alpha: 1.0);
        }
    }
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 2rem;
}

#carousel-pag {
    
    transform: translate(-50%);
}