body {
  background-color: white;
  padding: 1em;
}

h3 {
  font-weight: normal;
  color: black;
}

.progressbar-container{
  position: relative;

  h6 {
    position: absolute;
    top: -20px;
    left: 10px;
    z-index: 99;
    text-align: right;
    width: 40%;
    animation: fadeIn .2s 2.6s linear forwards;
    opacity: 0;
  }

  .progressbar {
    position: relative;
    box-shadow: inset 0px 0px 10px rgba(223, 78, 83, 0.15);
    border-radius: 20px;
    margin-bottom: 10px;
    height: 1rem;
    margin-top: 30px;
    overflow: hidden;

    &.clear { 
      box-shadow: none;
      outline: 1px solid #48BD3E;
    }


    &>div {
      position: absolute;
      background-color: grey;
      height: 1rem;
      // position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      animation: progress-build 2s .4s linear forwards;
      box-shadow: 4px 0px 4px rgba(223, 78, 83, 0.15);
      transform: translateX(-100%);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes progress-build { 
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}