body {
  background-color: white;
  padding: 1em;
}

h3 {
  font-weight: normal;
  color: black;
}

h6{
  font-size:0.2em;
  text-align: center;
  font-size: 0.15em;
  font-weight: normal;
}

div.progressbar {
  position: relative;
  box-shadow: inset 0px 0px 10px rgba(223, 78, 83, 0.15);
  border-radius: 20px;
  margin-bottom: 10px;
  height: 1rem;
  overflow: hidden;

  &.clear { 
    box-shadow: none;
    outline: 1px solid #48BD3E;
  }

  &.lightShadow {
  
  }

  &>div {
    background-color: grey;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: progress-build 2s .4s linear forwards;
    box-shadow: 4px 0px 4px rgba(223, 78, 83, 0.15);
  }
}

@keyframes progress-build { 
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}