body {
  background-color: white;
  padding: 1em;
}

h3{
  font-weight: normal;
  color: black;
}

div.progressbar{
  background-color: black;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1px;
  margin-bottom: 10px;
}

.progressbar>div{
  height: 16px;
  border-radius: 10px;
}






