#myModal {
  background: white;
  position: absolute;
  top: 2rem;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  z-index: 999;
  display: none;
  
  img {
    max-width: 200px;
  }
}

.masonry-grid-item { 
  width: 200px;
}

.masonry-grid-item, .grid-item--width2 {
  margin: 6px;
}

.masonry-grid, .js-masonry {
  margin: 16px;
}

.masonry-grid-item--width2 { 
  width: 40%; 
}

.masonry {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 0.2rem;
    column-gap: 0.2rem;

    width: 100vw;
    height: 100vh;
    padding: 1rem;

    text-align: center;


    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }





//! Size problem? ----> _grid-html.scss
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 10%; /* Full width */
  height: 10%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 300px;
}

// .modal-content img{
//   max-width: 300px;
// }

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 300px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 300px){
  .modal-content {
    width: 100%;
  }
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  max-width: 300px;

}


// #img01{
//   max-width: 50%;
// }



#myImg:hover {opacity: 0.7;}










    .cell-1 {
      background-color: deeppink;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    .cell-2 {
      background-color: deeppink;
      grid-column: 3 / 4;
      grid-row: 1 / 4;
    }

    .cell-3 {
      background-color: deeppink;
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }

    .cell-4 {
      background-color: deeppink;
      grid-column: 7 / 5;
      grid-row: 1 / 3;
    }

    .cell-5 {
      background-color: deeppink;
    }

    .cell-6 {
      background-color: deeppink;
      grid-column: 7 / 5;
      grid-row: 1 / 3;
    }

    .cell-7 {
      background-color: deeppink;
      grid-column: 1 / 2;
      grid-row: 3 / 5;

    }

    .cell-8 {
      background-color: deeppink;
      grid-column: 2 / 2;
      grid-row: 3 / 5;
    }

    .cell-9 {
      background-color: deeppink;
      grid-column: 3 / 5;
      grid-row: -1 / 4;
    }

    .cell-10 {
      background-color: deeppink;
      grid-column: 4 / 6;
      grid-row: 3 / 3;
    }

    .cell-11 {
      background-color: deeppink;
      grid-column: 6 / 6;
      grid-row: 3 / 5;
    }

    .cell-12 {
      background-color: deeppink;
      grid-column: 5 / 5;
      grid-row: 4 / 7;
    }

    .cell-14 {
      background-color: deeppink;
      grid-column: 1 / 1;
      grid-row: 5 / 7;
    }

    .cell-15 {
      background-color: deeppink;
    }

    .cell-16 {
      background-color: deeppink;
      grid-column: 6 / 6;
      grid-row: 5 / 7;
    }

    .cell-17 {
      background-color: deeppink;
    }

    .cell-18 {
      background-color: deeppink;
      grid-column: 7 / 6;
      grid-row: 5 / 7;
    }

    .cell-19 {
      background-color: deeppink;
      grid-column: 1 / 3;
      grid-row: 7 / 7;

    }

    .cell-20 {
      background-color: deeppink;
    }

    .cell-21 {
      background-color: deeppink;
    }
  }

  