.noti {
    border: 1px solid black;
    max-width: 350px;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
}.noti-header {
    background-color:rgb(255, 255, 255, 0.7);
    padding: 5px;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
}

.noti-content {
    background-color: rgba(206, 206, 206, 0.5);
    padding: 10px 5px 5px 5px;
    max-width: 100%;
    border-radius: 0 0 5px 5px;
}

.section-1 {
    flex: 1;
}