@use "sass:map";
@use "sass:math";

@mixin toast() {
    display: flex;
    border-radius: $base-border-radius;
    box-shadow: 0 4px 8px rgba($color: map.get($map: $theme-colors, $key: base), $alpha: .10);
    width: 330px;
    min-height: 70px;
    margin: 10px;
    background: map.get($map: $theme-colors, $key: light);
}

@each $key, $val in $theme-colors {
    .toast {
      @include toast();

      &#{$key} {

      }
        
    }
}

.toast {
    @include toast();

    .icon {
        display: none;
    }

    .label {
        border-radius: 5px 0 0 5px;
        min-width: 0.8rem;
        width: 12px;
        height: inherit;
    }

    .toast-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding: 1.5rem;
        width: 100%;
    }

    .close-btn {
        display: flex;
        align-items: flex-start;
        padding-right: 5px;
        font-size: 25px;
    }

    // TOAST TYPES
    ////////////////////////////////////////////////    

    &.success {

        border: $base-border-thickness solid map.get($theme-colors, "success");

        .label {
            background-color: map.get($theme-colors, "success");
        }

        .icon {
            border: $base-border-thickness solid map.get($theme-colors, "success");
        }

        h5,
        .icon,
        .close-btn {
            color: map.get($theme-colors, "success");
        }
    }

    &.warning {

        border: $base-border-thickness solid map.get($theme-colors, "warning");

        .label {
            background-color: map.get($theme-colors, "warning");
        }

        .icon {
            border: $base-border-thickness solid map.get($theme-colors, "warning");
        }

        h5,
        .icon,
        .close-btn {
            color: map.get($theme-colors, "warning");
        }
    }

    &.danger {

        border: $base-border-thickness solid map.get($theme-colors, "danger");

        .label {
            background-color: map.get($theme-colors, "danger");
        }

        .icon {
            border: $base-border-thickness solid map.get($theme-colors, "danger");
        }

        h5,
        .icon,
        .close-btn {
            color: map.get($theme-colors, "danger");
        }
    }

    &.info {

        border: $base-border-thickness solid map.get($theme-colors, "info");

        .label {
            background-color: map.get($theme-colors, "info");
        }

        .icon {
            border: $base-border-thickness solid map.get($theme-colors, "info");
        }

        h5,
        .icon,
        .close-btn {
            color: map.get($theme-colors, "info");
        }
    }

    // ADD STYLE
    ////////////////////////////////////////////////

    &.icon {
        .icon {
            display: flex;
            align-self: center;
            align-items: center;
            justify-content: center;
            border-radius: 10rem;
            margin-left: 15px;
            min-width: 30px;
            max-width: 30px;
            min-height: 30px;
            max-height: 30px;
        }
    }

    &.colored {
        &.success {
            background-color: rgba(map.get($theme-colors, success), .1);
        }

        &.warning {
            background-color: rgba(map.get($theme-colors, warning), .1);
        }

        &.danger {
            background-color: rgba(map.get($theme-colors, danger), .1);
        }

        &.info {
            background-color: rgba(map.get($theme-colors, info), .1);
        }
    }

    // REMOVE STYLE
    ////////////////////////////////////////////////

    &.no-border {
        border: none;
    }

    &.no-title {
        .toast-body h5 {
            display: none;
        }
    }

    &.no-summary {
        .toast-body p {
            display: none;
        }
    }

    &.no-border-radius {
        border-radius: 0;
        .label {
            border-radius: 0;
        }
    }

    &.no-label {
        .toast-body {
            padding-left: 2.3rem;
        }

        .label {
            display: none;
        }
    }
}