@use "sass:map";

.toast {
    border: 1px solid black;
    max-width: 350px;
    min-width: max-content;
    height: 50px;
    display: flex;
    margin-bottom: 10px;

    &.danger {

        .label {
            background-color: map.get($theme-colors, "danger");
        }

        .toast-type {
            background-color: transparent;
            border: $base-border-thickness solid map.get($theme-colors, "danger");
            color: map.get($theme-colors, "danger");
        }
    }

    .toast-type {
        display: flex;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 10rem;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: larger;

    }


    .label {
        width: 25px;
        margin-right: 10px;
    }
}



.two {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;

}


.three {
    padding: 5px;
}