@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calcRem($size);
}

* {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
}

h1 {
  @include fontSize(48px);

  @include for-tablet-portrait-up {
    @include fontSize(60px)
  } 
  
  @include for-desktop-up {
    @include fontSize(96px)
  }
}

h2 {
  @include fontSize(34px);

  @include for-tablet-portrait-up {
    @include fontSize(36px)
  } 
  
  @include for-desktop-up {
    @include fontSize(64px)
  }
}

h3 {
  @include fontSize(26px);

  @include for-tablet-portrait-up {
    @include fontSize(26px)
  } 
  
  @include for-desktop-up {
    @include fontSize(48px)
  }
}

h4 {
  @include fontSize(22px);

  @include for-tablet-portrait-up {
    @include fontSize(22px)
  } 
  
  @include for-desktop-up {
    @include fontSize(34px)
  }
}

h5 {
  @include fontSize(18px);

  @include for-tablet-portrait-up {
    @include fontSize(18px)
  } 
  
  @include for-desktop-up {
    @include fontSize(26px)
  }
}

h6 {
  @include fontSize(16px);

  @include for-tablet-portrait-up {
    @include fontSize(16px)
  } 
  
  @include for-desktop-up {
    @include fontSize(18px)
  }
}

p {
  @include fontSize(16px);
  margin-bottom: $base-padding * 1.5;
}


// b {
//   font-size: $base-font-size * 1.2;
// }

ul {
  // margin-top: 20px;

  li {
    list-style: circle;
  }
}

.box {
  margin-top: 80px;
  padding-left: 300px;
  width: 800px;
  p {
    padding-bottom: 20px;
  }
}





// SIZES

.small-text {
  font-size: 0.75em;
}

// JUSTIFY CONTENT
.text-center {
  text-align: center;
}