@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins';
  color: rgb(24, 0, 68);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
}

.col-12 {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

// b {
//   font-size: $base-font-size * 1.2;
// }

ul {
  // margin-top: 20px;

  li {
    list-style: circle;
  }
}

.box {
  margin-top: 80px;
  padding-left: 300px;
  width: 800px;
  p {
    padding-bottom: 20px;
  }
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.625rem;
}

h6 {
  font-size: 1.125rem;
}

p {
  margin-bottom: $base-padding * 1.5;
}

// SIZES

.small-text {
  font-size: 0.75em;
}

// JUSTIFY CONTENT
.text-center {
  text-align: center;
}