// -- CREATE BREAKPOINTS --
@mixin create-bp($breakpoint) {
  @if($breakpoint==0) {
    @content;
  }

  @else {
    @media (min-width: ($breakpoint * 1px)) {
      @content;
    }
  }
}

// -- CREATE COL CLASSES -- 

@mixin create-col-classes ($modifier, $grid-cols, $breakpoint) {
  @include create-bp($breakpoint) {
    @for $column-number from 1 through $grid-cols {
      .col#{$modifier}-#{$column-number} {
        flex-basis: (100 / ($grid-cols / $column-number)) * 1%;
        flex-grow: 0;
      }
    }
  }
}

@each $modifier, $breakpoint in $map-grid-prop {
  @include create-col-classes($modifier, $grid-cols, $breakpoint)
}

// -- JUSTIFY CONTENT CLASSES --
@each $val in $layout-values {
  .#{$val} {
    justify-content: $val;
  }
}

