:root {
  --black: #333;
  --white: #fff;
}

// SASS MAP
$theme-colors: (
  "light": #fff,
  "dark": black,
  "base": #1c1c1c,
  "primary": #df4e53,
  "secondary": #fb6a65,
  "success": #48bd3e,
  "danger": #dc3510,
  "warning": #f8b425,
  "info": #44bcff,
) !default;


$base-font-size: 1rem; //16px
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;

$base-padding: 1rem;
$base-border-radius: .5rem;
$base-border-thickness: 1px;


// !important gör att den css går över hierarki
// !default Motsatsen till important

// -- CONTAINER -- 
$container-width: 1200 !default;

// -- GRID --
$grid-cols: 12 !default;
$grid-gutter-size: 1rem;
$layout-values: flex-start, flex-end, center, space-between, space-around;

// -- BREAKPOINT --
$grid-bp-small: 576 !default;
$grid-bp-medium: 768 !default;
$grid-bp-large: 992 !default;
$grid-bp-xlarge: 1200 !default;

// -- GRID MAP --
$map-grid-prop: ('': 0,
  '-sm': $grid-bp-small,
  '-md': $grid-bp-medium,
  '-lg': $grid-bp-large,
  '-xl': $grid-bp-xlarge,
) !default;


// -- TYPOGRAPHY --

$heading-sizes: (
  'h1': 2rem,
  'h2': 1.8rem,
  'h3': 1.6rem,
  'h4': 1.4rem,
  'h5': 1.2rem,
  'h6': 1rem,
) !default;


// -- FONTS --
$font-family-sans-serif: system-ui,
-apple-system,
"segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

$font-family-monospace: SFMono-regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;