@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
:root {
  --black: #333;
  --white: #fff;
}

.col-1 {
  flex-basis: 8.3333333333%;
  flex-grow: 0;
}

.col-2 {
  flex-basis: 16.6666666667%;
  flex-grow: 0;
}

.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
}

.col-4 {
  flex-basis: 33.3333333333%;
  flex-grow: 0;
}

.col-5 {
  flex-basis: 41.6666666667%;
  flex-grow: 0;
}

.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
}

.col-7 {
  flex-basis: 58.3333333333%;
  flex-grow: 0;
}

.col-8 {
  flex-basis: 66.6666666667%;
  flex-grow: 0;
}

.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
}

.col-10 {
  flex-basis: 83.3333333333%;
  flex-grow: 0;
}

.col-11 {
  flex-basis: 91.6666666667%;
  flex-grow: 0;
}

.col-12 {
  flex-basis: 100%;
  flex-grow: 0;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 0;
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 0;
  }
  .col-sm-3 {
    flex-basis: 25%;
    flex-grow: 0;
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 0;
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 0;
  }
  .col-sm-6 {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 0;
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 0;
  }
  .col-sm-9 {
    flex-basis: 75%;
    flex-grow: 0;
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 0;
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 0;
  }
  .col-sm-12 {
    flex-basis: 100%;
    flex-grow: 0;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 0;
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 0;
  }
  .col-md-3 {
    flex-basis: 25%;
    flex-grow: 0;
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 0;
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 0;
  }
  .col-md-6 {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 0;
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 0;
  }
  .col-md-9 {
    flex-basis: 75%;
    flex-grow: 0;
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 0;
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 0;
  }
  .col-md-12 {
    flex-basis: 100%;
    flex-grow: 0;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 0;
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 0;
  }
  .col-lg-3 {
    flex-basis: 25%;
    flex-grow: 0;
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 0;
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 0;
  }
  .col-lg-6 {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 0;
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 0;
  }
  .col-lg-9 {
    flex-basis: 75%;
    flex-grow: 0;
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 0;
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 0;
  }
  .col-lg-12 {
    flex-basis: 100%;
    flex-grow: 0;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex-basis: 8.3333333333%;
    flex-grow: 0;
  }
  .col-xl-2 {
    flex-basis: 16.6666666667%;
    flex-grow: 0;
  }
  .col-xl-3 {
    flex-basis: 25%;
    flex-grow: 0;
  }
  .col-xl-4 {
    flex-basis: 33.3333333333%;
    flex-grow: 0;
  }
  .col-xl-5 {
    flex-basis: 41.6666666667%;
    flex-grow: 0;
  }
  .col-xl-6 {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .col-xl-7 {
    flex-basis: 58.3333333333%;
    flex-grow: 0;
  }
  .col-xl-8 {
    flex-basis: 66.6666666667%;
    flex-grow: 0;
  }
  .col-xl-9 {
    flex-basis: 75%;
    flex-grow: 0;
  }
  .col-xl-10 {
    flex-basis: 83.3333333333%;
    flex-grow: 0;
  }
  .col-xl-11 {
    flex-basis: 91.6666666667%;
    flex-grow: 0;
  }
  .col-xl-12 {
    flex-basis: 100%;
    flex-grow: 0;
  }
}
.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.btn {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #acacac;
  color: #1c1c1c;
  margin-bottom: 1rem;
}

.btn-light {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-light {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-light {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #fff;
  margin-bottom: 1rem;
  border: 1px solid #fff;
}

.btn-pill-outlined-light {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #fff;
  margin-bottom: 1rem;
  border: 1px solid #fff;
  border-radius: 12rem;
}

.btn-dark {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-dark {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-dark {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: black;
  margin-bottom: 1rem;
  border: 1px solid black;
}

.btn-pill-outlined-dark {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: black;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 12rem;
}

.btn-base {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #1c1c1c;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-base {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #1c1c1c;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-base {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #1c1c1c;
  margin-bottom: 1rem;
  border: 1px solid #1c1c1c;
}

.btn-pill-outlined-base {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #1c1c1c;
  margin-bottom: 1rem;
  border: 1px solid #1c1c1c;
  border-radius: 12rem;
}

.btn-primary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #df4e53;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-primary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #df4e53;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-primary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #df4e53;
  margin-bottom: 1rem;
  border: 1px solid #df4e53;
}

.btn-pill-outlined-primary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #df4e53;
  margin-bottom: 1rem;
  border: 1px solid #df4e53;
  border-radius: 12rem;
}

.btn-secondary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fb6a65;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-secondary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #fb6a65;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-secondary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #fb6a65;
  margin-bottom: 1rem;
  border: 1px solid #fb6a65;
}

.btn-pill-outlined-secondary {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #fb6a65;
  margin-bottom: 1rem;
  border: 1px solid #fb6a65;
  border-radius: 12rem;
}

.btn-success {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #48bd3e;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-success {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #48bd3e;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-success {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #48bd3e;
  margin-bottom: 1rem;
  border: 1px solid #48bd3e;
}

.btn-pill-outlined-success {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #48bd3e;
  margin-bottom: 1rem;
  border: 1px solid #48bd3e;
  border-radius: 12rem;
}

.btn-danger {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #dc3510;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-danger {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #dc3510;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-danger {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #dc3510;
  margin-bottom: 1rem;
  border: 1px solid #dc3510;
}

.btn-pill-outlined-danger {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #dc3510;
  margin-bottom: 1rem;
  border: 1px solid #dc3510;
  border-radius: 12rem;
}

.btn-warning {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #f8b425;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-warning {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #f8b425;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-warning {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #f8b425;
  margin-bottom: 1rem;
  border: 1px solid #f8b425;
}

.btn-pill-outlined-warning {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #f8b425;
  margin-bottom: 1rem;
  border: 1px solid #f8b425;
  border-radius: 12rem;
}

.btn-info {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #44bcff;
  color: white;
  margin-bottom: 1rem;
}

.btn-pill-info {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #44bcff;
  color: white;
  margin-bottom: 1rem;
  border-radius: 12rem;
}

.btn-outlined-info {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #44bcff;
  margin-bottom: 1rem;
  border: 1px solid #44bcff;
}

.btn-pill-outlined-info {
  padding: 1.125rem 2rem;
  border-radius: 0.5rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  color: #44bcff;
  margin-bottom: 1rem;
  border: 1px solid #44bcff;
  border-radius: 12rem;
}

.text-light {
  color: #fff;
}

.bg-light {
  background-color: #fff !important;
}

.text-dark {
  color: black;
}

.bg-dark {
  background-color: black !important;
}

.text-base {
  color: #1c1c1c;
}

.bg-base {
  background-color: #1c1c1c !important;
}

.text-base-light-1 {
  color: #333333;
}

.text-base-light-2 {
  color: #494949;
}

.text-base-light-3 {
  color: #606060;
}

.text-base-light-4 {
  color: #777777;
}

.text-base-light-5 {
  color: #8e8e8e;
}

.text-base-light-6 {
  color: #a4a4a4;
}

.text-base-light-7 {
  color: #bbbbbb;
}

.text-base-light-8 {
  color: #d2d2d2;
}

.text-base-light-9 {
  color: #e8e8e8;
}

.bg-base-light-1 {
  background-color: #333333;
}

.bg-base-light-2 {
  background-color: #494949;
}

.bg-base-light-3 {
  background-color: #606060;
}

.bg-base-light-4 {
  background-color: #777777;
}

.bg-base-light-5 {
  background-color: #8e8e8e;
}

.bg-base-light-6 {
  background-color: #a4a4a4;
}

.bg-base-light-7 {
  background-color: #bbbbbb;
}

.bg-base-light-8 {
  background-color: #d2d2d2;
}

.bg-base-light-9 {
  background-color: #e8e8e8;
}

.bg-base-dark-1 {
  background-color: #191919;
}

.bg-base-dark-2 {
  background-color: #161616;
}

.bg-base-dark-3 {
  background-color: #141414;
}

.bg-base-dark-4 {
  background-color: #111111;
}

.bg-base-dark-5 {
  background-color: #0e0e0e;
}

.bg-base-dark-6 {
  background-color: #0b0b0b;
}

.bg-base-dark-7 {
  background-color: #080808;
}

.bg-base-dark-8 {
  background-color: #060606;
}

.bg-base-dark-9 {
  background-color: #030303;
}

.text-primary {
  color: #df4e53;
}

.bg-primary {
  background-color: #df4e53 !important;
}

.text-primary-light-1 {
  color: #e26064;
}

.text-primary-light-2 {
  color: #e57175;
}

.text-primary-light-3 {
  color: #e98387;
}

.text-primary-light-4 {
  color: #ec9598;
}

.text-primary-light-5 {
  color: #efa7a9;
}

.text-primary-light-6 {
  color: #f2b8ba;
}

.text-primary-light-7 {
  color: #f5cacb;
}

.text-primary-light-8 {
  color: #f9dcdd;
}

.text-primary-light-9 {
  color: #fcedee;
}

.bg-primary-light-1 {
  background-color: #e26064;
}

.bg-primary-light-2 {
  background-color: #e57175;
}

.bg-primary-light-3 {
  background-color: #e98387;
}

.bg-primary-light-4 {
  background-color: #ec9598;
}

.bg-primary-light-5 {
  background-color: #efa7a9;
}

.bg-primary-light-6 {
  background-color: #f2b8ba;
}

.bg-primary-light-7 {
  background-color: #f5cacb;
}

.bg-primary-light-8 {
  background-color: #f9dcdd;
}

.bg-primary-light-9 {
  background-color: #fcedee;
}

.bg-primary-dark-1 {
  background-color: #c9464b;
}

.bg-primary-dark-2 {
  background-color: #b23e42;
}

.bg-primary-dark-3 {
  background-color: #9c373a;
}

.bg-primary-dark-4 {
  background-color: #862f32;
}

.bg-primary-dark-5 {
  background-color: #70272a;
}

.bg-primary-dark-6 {
  background-color: #591f21;
}

.bg-primary-dark-7 {
  background-color: #431719;
}

.bg-primary-dark-8 {
  background-color: #2d1011;
}

.bg-primary-dark-9 {
  background-color: #160808;
}

.text-secondary {
  color: #fb6a65;
}

.bg-secondary {
  background-color: #fb6a65 !important;
}

.text-secondary-light-1 {
  color: #fb7974;
}

.text-secondary-light-2 {
  color: #fc8884;
}

.text-secondary-light-3 {
  color: #fc9793;
}

.text-secondary-light-4 {
  color: #fda6a3;
}

.text-secondary-light-5 {
  color: #fdb5b2;
}

.text-secondary-light-6 {
  color: #fdc3c1;
}

.text-secondary-light-7 {
  color: #fed2d1;
}

.text-secondary-light-8 {
  color: #fee1e0;
}

.text-secondary-light-9 {
  color: #fff0f0;
}

.bg-secondary-light-1 {
  background-color: #fb7974;
}

.bg-secondary-light-2 {
  background-color: #fc8884;
}

.bg-secondary-light-3 {
  background-color: #fc9793;
}

.bg-secondary-light-4 {
  background-color: #fda6a3;
}

.bg-secondary-light-5 {
  background-color: #fdb5b2;
}

.bg-secondary-light-6 {
  background-color: #fdc3c1;
}

.bg-secondary-light-7 {
  background-color: #fed2d1;
}

.bg-secondary-light-8 {
  background-color: #fee1e0;
}

.bg-secondary-light-9 {
  background-color: #fff0f0;
}

.bg-secondary-dark-1 {
  background-color: #e25f5b;
}

.bg-secondary-dark-2 {
  background-color: #c95551;
}

.bg-secondary-dark-3 {
  background-color: #b04a47;
}

.bg-secondary-dark-4 {
  background-color: #97403d;
}

.bg-secondary-dark-5 {
  background-color: #7e3533;
}

.bg-secondary-dark-6 {
  background-color: #642a28;
}

.bg-secondary-dark-7 {
  background-color: #4b201e;
}

.bg-secondary-dark-8 {
  background-color: #321514;
}

.bg-secondary-dark-9 {
  background-color: #190b0a;
}

.text-success {
  color: #48bd3e;
}

.bg-success {
  background-color: #48bd3e !important;
}

.text-success-light-1 {
  color: #5ac451;
}

.text-success-light-2 {
  color: #6dca65;
}

.text-success-light-3 {
  color: #7fd178;
}

.text-success-light-4 {
  color: #91d78b;
}

.text-success-light-5 {
  color: #a4de9f;
}

.text-success-light-6 {
  color: #b6e5b2;
}

.text-success-light-7 {
  color: #c8ebc5;
}

.text-success-light-8 {
  color: #daf2d8;
}

.text-success-light-9 {
  color: #edf8ec;
}

.bg-success-light-1 {
  background-color: #5ac451;
}

.bg-success-light-2 {
  background-color: #6dca65;
}

.bg-success-light-3 {
  background-color: #7fd178;
}

.bg-success-light-4 {
  background-color: #91d78b;
}

.bg-success-light-5 {
  background-color: #a4de9f;
}

.bg-success-light-6 {
  background-color: #b6e5b2;
}

.bg-success-light-7 {
  background-color: #c8ebc5;
}

.bg-success-light-8 {
  background-color: #daf2d8;
}

.bg-success-light-9 {
  background-color: #edf8ec;
}

.bg-success-dark-1 {
  background-color: #41aa38;
}

.bg-success-dark-2 {
  background-color: #3a9732;
}

.bg-success-dark-3 {
  background-color: #32842b;
}

.bg-success-dark-4 {
  background-color: #2b7125;
}

.bg-success-dark-5 {
  background-color: #245f1f;
}

.bg-success-dark-6 {
  background-color: #1d4c19;
}

.bg-success-dark-7 {
  background-color: #163913;
}

.bg-success-dark-8 {
  background-color: #0e260c;
}

.bg-success-dark-9 {
  background-color: #071306;
}

.text-danger {
  color: #dc3510;
}

.bg-danger {
  background-color: #dc3510 !important;
}

.text-danger-light-1 {
  color: #e04928;
}

.text-danger-light-2 {
  color: #e35d40;
}

.text-danger-light-3 {
  color: #e77258;
}

.text-danger-light-4 {
  color: #ea8670;
}

.text-danger-light-5 {
  color: #ee9a88;
}

.text-danger-light-6 {
  color: #f1ae9f;
}

.text-danger-light-7 {
  color: #f5c2b7;
}

.text-danger-light-8 {
  color: #f8d7cf;
}

.text-danger-light-9 {
  color: #fcebe7;
}

.bg-danger-light-1 {
  background-color: #e04928;
}

.bg-danger-light-2 {
  background-color: #e35d40;
}

.bg-danger-light-3 {
  background-color: #e77258;
}

.bg-danger-light-4 {
  background-color: #ea8670;
}

.bg-danger-light-5 {
  background-color: #ee9a88;
}

.bg-danger-light-6 {
  background-color: #f1ae9f;
}

.bg-danger-light-7 {
  background-color: #f5c2b7;
}

.bg-danger-light-8 {
  background-color: #f8d7cf;
}

.bg-danger-light-9 {
  background-color: #fcebe7;
}

.bg-danger-dark-1 {
  background-color: #c6300e;
}

.bg-danger-dark-2 {
  background-color: #b02a0d;
}

.bg-danger-dark-3 {
  background-color: #9a250b;
}

.bg-danger-dark-4 {
  background-color: #84200a;
}

.bg-danger-dark-5 {
  background-color: #6e1b08;
}

.bg-danger-dark-6 {
  background-color: #581506;
}

.bg-danger-dark-7 {
  background-color: #421005;
}

.bg-danger-dark-8 {
  background-color: #2c0b03;
}

.bg-danger-dark-9 {
  background-color: #160502;
}

.text-warning {
  color: #f8b425;
}

.bg-warning {
  background-color: #f8b425 !important;
}

.text-warning-light-1 {
  color: #f9bc3b;
}

.text-warning-light-2 {
  color: #f9c351;
}

.text-warning-light-3 {
  color: #facb66;
}

.text-warning-light-4 {
  color: #fbd27c;
}

.text-warning-light-5 {
  color: #fcda92;
}

.text-warning-light-6 {
  color: #fce1a8;
}

.text-warning-light-7 {
  color: #fde9be;
}

.text-warning-light-8 {
  color: #fef0d3;
}

.text-warning-light-9 {
  color: #fef8e9;
}

.bg-warning-light-1 {
  background-color: #f9bc3b;
}

.bg-warning-light-2 {
  background-color: #f9c351;
}

.bg-warning-light-3 {
  background-color: #facb66;
}

.bg-warning-light-4 {
  background-color: #fbd27c;
}

.bg-warning-light-5 {
  background-color: #fcda92;
}

.bg-warning-light-6 {
  background-color: #fce1a8;
}

.bg-warning-light-7 {
  background-color: #fde9be;
}

.bg-warning-light-8 {
  background-color: #fef0d3;
}

.bg-warning-light-9 {
  background-color: #fef8e9;
}

.bg-warning-dark-1 {
  background-color: #dfa221;
}

.bg-warning-dark-2 {
  background-color: #c6901e;
}

.bg-warning-dark-3 {
  background-color: #ae7e1a;
}

.bg-warning-dark-4 {
  background-color: #956c16;
}

.bg-warning-dark-5 {
  background-color: #7c5a13;
}

.bg-warning-dark-6 {
  background-color: #63480f;
}

.bg-warning-dark-7 {
  background-color: #4a360b;
}

.bg-warning-dark-8 {
  background-color: #322407;
}

.bg-warning-dark-9 {
  background-color: #191204;
}

.text-info {
  color: #44bcff;
}

.bg-info {
  background-color: #44bcff !important;
}

.text-info-light-1 {
  color: #57c3ff;
}

.text-info-light-2 {
  color: #69c9ff;
}

.text-info-light-3 {
  color: #7cd0ff;
}

.text-info-light-4 {
  color: #8fd7ff;
}

.text-info-light-5 {
  color: #a2deff;
}

.text-info-light-6 {
  color: #b4e4ff;
}

.text-info-light-7 {
  color: #c7ebff;
}

.text-info-light-8 {
  color: #daf2ff;
}

.text-info-light-9 {
  color: #ecf8ff;
}

.bg-info-light-1 {
  background-color: #57c3ff;
}

.bg-info-light-2 {
  background-color: #69c9ff;
}

.bg-info-light-3 {
  background-color: #7cd0ff;
}

.bg-info-light-4 {
  background-color: #8fd7ff;
}

.bg-info-light-5 {
  background-color: #a2deff;
}

.bg-info-light-6 {
  background-color: #b4e4ff;
}

.bg-info-light-7 {
  background-color: #c7ebff;
}

.bg-info-light-8 {
  background-color: #daf2ff;
}

.bg-info-light-9 {
  background-color: #ecf8ff;
}

.bg-info-dark-1 {
  background-color: #3da9e6;
}

.bg-info-dark-2 {
  background-color: #3696cc;
}

.bg-info-dark-3 {
  background-color: #3084b3;
}

.bg-info-dark-4 {
  background-color: #297199;
}

.bg-info-dark-5 {
  background-color: #225e80;
}

.bg-info-dark-6 {
  background-color: #1b4b66;
}

.bg-info-dark-7 {
  background-color: #14384d;
}

.bg-info-dark-8 {
  background-color: #0e2633;
}

.bg-info-dark-9 {
  background-color: #07131a;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
}

.d-flex {
  display: flex;
}

.center {
  justify-content: center;
}

.border-radius {
  border-radius: 0.5rem;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
}

* {
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}
@media (min-width: 600px) {
  h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 96px;
    font-size: 6rem;
  }
}

h2 {
  font-size: 34px;
  font-size: 2.125rem;
}
@media (min-width: 600px) {
  h2 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 64px;
    font-size: 4rem;
  }
}

h3 {
  font-size: 26px;
  font-size: 1.625rem;
}
@media (min-width: 600px) {
  h3 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 48px;
    font-size: 3rem;
  }
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
}
@media (min-width: 600px) {
  h4 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  h4 {
    font-size: 34px;
    font-size: 2.125rem;
  }
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
}
@media (min-width: 600px) {
  h5 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  h5 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 600px) {
  h6 {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  h6 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

p {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

ul li {
  list-style: circle;
}

.box {
  margin-top: 80px;
  padding-left: 300px;
  width: 800px;
}
.box p {
  padding-bottom: 20px;
}

.small-text {
  font-size: 0.75em;
}

.text-center {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(28, 28, 28, 0.5);
}
.modal .modal-content {
  margin: 10% auto;
  width: 30%;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 599px) {
  .modal .modal-content {
    width: 90%;
  }
}
.modal .modal-content .modal-header {
  margin: 0;
  background: #fff;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal .modal-content .modal-header .close {
  color: #df4e53;
  float: right;
  font-size: 30px;
  line-height: 1;
}
.modal .modal-content .modal-header .close:hover, .modal .modal-content .modal-header .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-body {
  padding: 10px 20px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal .modal-content .modal-body h5 {
  color: #df4e53;
  font-size: 26px;
  margin: 0;
}
.modal .modal-content .modal-body p {
  font-size: 16px;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.noti {
  border: 1px solid black;
  max-width: 350px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;
}

.noti-header {
  background-color: #df4e53;
  padding: 5px;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  display: flex;
}

.noti-content {
  background-color: #fb6a65;
  padding: 10px 5px 5px 5px;
  max-width: 100%;
  border-radius: 0 0 5px 5px;
}

.section-1 {
  flex: 1;
}

.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  width: 330px;
  min-height: 70px;
  margin: 10px;
  background: #fff;
}
.toast .icon {
  display: none;
}
.toast .label {
  border-radius: 5px 0 0 5px;
  min-width: 0.8rem;
  width: 12px;
  height: inherit;
}
.toast .toast-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 1.5rem;
  width: 100%;
}
.toast .close-btn {
  display: flex;
  align-items: flex-start;
  padding-right: 5px;
  font-size: 25px;
}
.toast.success {
  border: 1px solid #48bd3e;
}
.toast.success .label {
  background-color: #48bd3e;
}
.toast.success .icon {
  border: 1px solid #48bd3e;
}
.toast.success h5,
.toast.success .icon,
.toast.success .close-btn {
  color: #48bd3e;
}
.toast.warning {
  border: 1px solid #f8b425;
}
.toast.warning .label {
  background-color: #f8b425;
}
.toast.warning .icon {
  border: 1px solid #f8b425;
}
.toast.warning h5,
.toast.warning .icon,
.toast.warning .close-btn {
  color: #f8b425;
}
.toast.danger {
  border: 1px solid #dc3510;
}
.toast.danger .label {
  background-color: #dc3510;
}
.toast.danger .icon {
  border: 1px solid #dc3510;
}
.toast.danger h5,
.toast.danger .icon,
.toast.danger .close-btn {
  color: #dc3510;
}
.toast.info {
  border: 1px solid #44bcff;
}
.toast.info .label {
  background-color: #44bcff;
}
.toast.info .icon {
  border: 1px solid #44bcff;
}
.toast.info h5,
.toast.info .icon,
.toast.info .close-btn {
  color: #44bcff;
}
.toast.icon .icon {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  margin-left: 15px;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
}
.toast.colored.success {
  background-color: rgba(72, 189, 62, 0.1);
}
.toast.colored.warning {
  background-color: rgba(248, 180, 37, 0.1);
}
.toast.colored.danger {
  background-color: rgba(220, 53, 16, 0.1);
}
.toast.colored.info {
  background-color: rgba(68, 188, 255, 0.1);
}
.toast.no-border {
  border: none;
}
.toast.no-title .toast-body h5 {
  display: none;
}
.toast.no-summary .toast-body p {
  display: none;
}
.toast.no-border-radius {
  border-radius: 0;
}
.toast.no-border-radius .label {
  border-radius: 0;
}
.toast.no-label .toast-body {
  padding-left: 2.3rem;
}
.toast.no-label .label {
  display: none;
}

.alert {
  max-width: 350px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  background: #fff;
}
.alert h5 {
  width: 100%;
}
.alert .header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 2px;
  border-radius: 0.5rem 0.5rem 0 0;
}
.alert .close-btn {
  display: flex;
  align-items: flex-start;
  padding-right: 5px;
  font-size: 25px;
}
.alert .description {
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  padding: 10px;
}
.alert .button-div {
  display: none;
}
.alert.con-dis .button-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.alert.con-dis .close-btn {
  display: none;
}
.alert.info.colored {
  background-color: rgba(68, 188, 255, 0.1);
}
.alert.info .header {
  background-color: #44bcff;
}
.alert.info.border {
  border: 5px solid #44bcff;
  background-color: white;
}
.alert.warning.colored {
  background-color: rgba(248, 180, 37, 0.1);
}
.alert.warning .header {
  background-color: #f8b425;
}
.alert.warning.border {
  border: 5px solid #f8b425;
  background-color: white;
}
.alert.danger.colored {
  background-color: rgba(220, 53, 16, 0.1);
}
.alert.danger .header {
  background-color: #dc3510;
}
.alert.danger.border {
  border: 5px solid #dc3510;
  background-color: white;
}
.alert.success.colored {
  background-color: rgba(72, 189, 62, 0.1);
}
.alert.success .header {
  background-color: #48bd3e;
}
.alert.success.border {
  border: 5px solid #48bd3e;
  background-color: white;
}

#slideshow-container {
  height: 50vh;
  overflow: hidden;
  position: relative;
  margin: auto;
}
#slideshow-container.border-radius {
  border-radius: 1rem;
}
#slideshow-container.circle-pag li {
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0.25rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#slideshow-container.circle-pag li.active {
  background-color: white;
}
#slideshow-container.circle-pag li:hover {
  background-color: white;
}
#slideshow-container.pag-left #carousel-pag {
  left: 3rem;
  transform: none;
}
#slideshow-container.pag-right #carousel-pag {
  right: 3rem;
  transform: none;
}
#slideshow-container.no-pag #carousel-pag {
  display: none;
}
#slideshow-container .mySlides {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
#slideshow-container .mySlides img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  pointer-events: none;
}
#slideshow-container .mySlides .slide-content {
  height: 100%;
  width: 100%;
  background-color: deeppink;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
}

#prev,
#next {
  position: absolute;
  transform: translate(-50%);
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
}
#prev:hover,
#next:hover {
  color: white;
}

#prev {
  left: 2rem;
}

#next {
  right: 2rem;
}

#carousel-pag {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  -webkit-padding-start: 0;
}
#carousel-pag li {
  height: 0.2rem;
  width: 2.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0.25rem;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}
#carousel-pag li.active {
  background-color: white;
}

#carousel-pag {
  transform: translate(-50%);
}

.card {
  border: 1px solid #1c1c1c;
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 100%;
  box-shadow: 0 4px 8px rgba(28, 28, 28, 0.1);
  background-color: white;
}
.card.card-primary {
  border: 1px solid #df4e53;
}
.card .card-img-container {
  height: 12rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  margin: 0.7rem;
}
.card .card-img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card.no-border {
  border: none;
}
.card .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card .card-body .card-subtitle {
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.card .card-body .card-text {
  margin-bottom: 2rem;
}
.card .card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container.flex-end {
  justify-content: flex-end;
}
.hero-container.flex-end .hero-content-container {
  text-align: right;
}
.hero-container.flex-start {
  justify-content: flex-start;
}
.hero-container.flex-start .hero-content-container {
  text-align: left;
}
.hero-container .hero-content-container {
  padding: 10%;
  text-align: center;
}
.hero-container h1 {
  font-size: 3rem;
}
.hero-container h3 {
  margin-bottom: 4rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  font-weight: 600;
}
table thead tr td {
  border-bottom: 2px solid #df4e53;
  padding-bottom: 1rem;
}
table tr td {
  padding: 0.8rem;
}

body {
  background-color: white;
  padding: 1em;
}

h3 {
  font-weight: normal;
  color: black;
}

.progressbar-container {
  position: relative;
}
.progressbar-container h6 {
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: 99;
  text-align: right;
  width: 40%;
  -webkit-animation: fadeIn 0.2s 2.6s linear forwards;
          animation: fadeIn 0.2s 2.6s linear forwards;
  opacity: 0;
}
.progressbar-container .progressbar {
  position: relative;
  box-shadow: inset 0px 0px 10px rgba(223, 78, 83, 0.15);
  border-radius: 20px;
  margin-bottom: 10px;
  height: 1rem;
  margin-top: 30px;
  overflow: hidden;
}
.progressbar-container .progressbar.clear {
  box-shadow: none;
  outline: 1px solid #48BD3E;
}
.progressbar-container .progressbar > div {
  position: absolute;
  background-color: grey;
  height: 1rem;
  top: 0;
  left: 0;
  border-radius: 10px;
  -webkit-animation: progress-build 2s 0.4s linear forwards;
          animation: progress-build 2s 0.4s linear forwards;
  box-shadow: 4px 0px 4px rgba(223, 78, 83, 0.15);
  transform: translateX(-100%);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes progress-build {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes progress-build {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
main {
  margin-left: 17.5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
}
.row > * {
  padding: 1rem;
}

.navigation {
  position: absolute;
  top: 0;
  left: -100%;
  background: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  transition: 0.5s;
}
.navigation.active {
  left: 0;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  display: inline-flex;
  margin: 5px 0;
  font-size: 1.35em;
  color: var(--black);
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 40px;
}
.navigation li a:hover {
  background: var(--black);
  color: var(--white);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav-bar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar ul li {
  margin-right: 2rem;
}

.sidenav {
  position: fixed;
  width: 17.5rem;
  height: 100%;
  background-color: #1E2027;
}
.sidenav .main-buttons {
  list-style-type: none;
  margin: 64px 0;
  padding: 0;
  color: #fff;
}
.sidenav .main-buttons li {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.sidenav .main-buttons li a {
  color: #fff;
}
.sidenav .main-buttons > li {
  padding: 16px 3.25rem;
}
.sidenav .main-buttons > li ion-icon {
  position: absolute;
  left: 12px;
  font-size: 1.8rem;
  color: #414655;
}
.sidenav .main-buttons > li ion-icon a {
  color: #fff;
}
.sidenav .main-buttons > li:hover, .sidenav .main-buttons > li:active, .sidenav .main-buttons > li:focus {
  background-color: #292c35;
  cursor: pointer;
}
.sidenav .main-buttons > li:hover .hidden, .sidenav .main-buttons > li:active .hidden, .sidenav .main-buttons > li:focus .hidden {
  width: 14.25rem;
}

.hidden {
  width: 0;
  height: 100%;
  padding: 64px 0;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #292c35;
  transition: 0.3s;
}
.hidden li {
  padding: 16px 24px;
}
.hidden li a {
  color: #fff;
}
.hidden li:hover, .hidden li:active, .hidden li:focus {
  background-color: #323541;
}

body {
  background-color: #caccd6;
  line-height: 30px;
}

html,
body {
  height: 100%;
}

.show-columns {
  padding: 1rem;
  margin-bottom: 3rem;
}
.show-columns .row {
  border: 1px solid #df4e53;
}
.show-columns .row > * {
  color: #df4e53;
  background-color: #fee2e1;
  border: 1px solid #df4e53;
}/*# sourceMappingURL=main.css.map */